# uzblicious
# (c) 2012 magnific0 (http://www.github.com/magnific0)
# released under GPLv3

# Delicious Login information
user=
passwd=

# Disallow bookmarks to have no tags
# this means no tags == abort add
abort_on_zero_tags=true

# Define some search engines
search_handlers=(
    '^gg:(.+)'   'http://www.google.com/search?q=%s'
    '^ddg:(.+)'  'http://duckduckgo.com/?q=%s'
    '^imdb:(.+)' 'http://www.imdb.com/find?q=%s'
    '^ggl:(.+)'  'http://www.google.com/search?q=%s&btnI=I%27m+Feeling+Lucky'
    '^wiki:(.+)' 'http://en.wikipedia.org/w/index.php?search=%s&go=Go'
    '^pw:(.+)'   'http://tweakers.net/pricewatch/zoeken/?keyword=%s'
    '^yt:(.+)'   'http://www.youtube.com/results?search_query=%s'
    '^gi:(.+)'   'http://images.google.com/images?q=%s'
)

# Modify the behaviour of dmenu, such as colourscheme etc
dmenu_args_browse="-p > -i -l 10"
dmenu_args_colors="-nb #333333 -nf #888888 -sb #285577 -sf #ffffff"

